@if (ViewBag.UserType == "Admin")
{
    @model CreateUserDto

    {
        ViewData["Title"] = "اضافة مستخدم جديد";
        Layout = null;
    }

    <form asp-action="Create" class="ajaxForm" tname="#kt_datatable" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row" id="newRegisterData">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FamilyName" class="control-label"></label>
                    <input asp-for="FamilyName" class="form-control" />
                    <span asp-validation-for="FamilyName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="UserType" class="control-label"></label>
                    <select asp-for="UserType" class="form-control">
                        <option value="@UserType.Admin">مدير</option>
                        <option value="@UserType.User">مستخدم</option>
                        <option value="@UserType.Student">طالب</option>
                    </select>
                    <span asp-validation-for="UserType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="RegisterType" class="control-label">نوع التسجيل</label>
                    <select asp-for="RegisterType" id="registerType" class="form-control">
                        <option value="0" selected>أول مرة</option>
                        <option value="1">مسجّل مسبقاً</option>
                    </select>
                    <span asp-validation-for="RegisterType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4" id="oldRegister">
                <div class="form-group">
                    <label asp-for="StudentId" class="control-label"></label>
                    <select asp-for="StudentId" class="form-control" asp-items="ViewBag.students">
                    </select>
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4" id="newRegister">
                <div class="form-group">
                    <label asp-for="IdentityNumber" class="control-label"></label>
                    <input asp-for="IdentityNumber" class="form-control" />
                    <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="اضافة" class="btn btn-primary" />
            <a data-dismiss="modal" aria-label="Close" class="btn btn-danger">الغاء</a>
        </div>
    </form>
    <script>
        PageLoadActions();

        $('#newRegister').show();
        $('#newRegisterData').show();
        $('#oldRegister').hide();

        $('#registerType').on('change', function () {
            if (this.value == 0) {
                $('#newRegister').show();
                $('#newRegisterData').show();
                $('#oldRegister').hide();
            } else if (this.value == 1) {
                $('#oldRegister').show();
                $('#newRegister').hide();
                $('#newRegisterData').hide();
            }
        });

    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
else
{
    {
        Layout = null;
    }

    <h1 style="color: red;text-align: center;   ">Access to this page is not allowed</h1>
}
