@if (ViewBag.UserType == "Admin")
{
    @model UpdateUserDto

    {
        ViewData["Title"] = "تعديل مستخدم";
        Layout = null;
    }

    <form asp-action="Update" class="ajaxForm" tname="#kt_datatable" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FamilyName" class="control-label"></label>
                    <input asp-for="FamilyName" class="form-control" />
                    <span asp-validation-for="FamilyName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="UserType" class="control-label"></label>
                    <select asp-for="UserType" class="form-control">
                        <option value="@UserType.Admin">مدير</option>
                        <option value="@UserType.User">مستخدم</option>
                        <option value="@UserType.Student">طالب</option>
                    </select>
                    <span asp-validation-for="UserType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="IdentityNumber" class="control-label"></label>
                    <input asp-for="IdentityNumber" class="form-control" />
                    <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="IsResetPassword" class="control-label"></label>
                    <select asp-for="IsResetPassword" id="isReset" class="form-control">
                        <option value="0" selected>لا</option>
                        <option value="1">نعم</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" id="resetPassword">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword" class="control-label"></label>
                    <input asp-for="ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="تعديل" class="btn btn-primary" />
            <a data-dismiss="modal" aria-label="Close" class="btn btn-danger">الغاء</a>
        </div>
    </form>
    <script>
        PageLoadActions();

        $('#resetPassword').hide();

        $('#isReset').on('change', function () {
            if (this.value == 0) {
                $('#resetPassword').hide();
            } else if (this.value == 1) {
                $('#resetPassword').show();
            }
        });

    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
else
{
    {
        Layout = null;
    }

    <h1 style="color: red;text-align: center;   ">Access to this page is not allowed</h1>
}
